@import "tailwindcss";

.scroll-column {
    position: relative;
}
.scroll-column .inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: scrollUp 24s linear infinite;
    padding-right: 4px;
}

.scroll-column .inner.down {
    animation: scrollDown 28s linear infinite;
}

.scroll-column:hover .inner,
.scroll-column:focus-within .inner {
    animation-play-state: paused;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

/* small tweak to ensure the duplicated images don't create whitespace */
.scroll-column .inner img {
    display: block;
}
